<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Pokemon Listings</strong> 
</div>

<script>
  $(".alert").alert();
</script>

<h1 *ngIf="!pokemon">Loading...</h1>
<div class="row"> 

<!-- <cdk-virtual-scroll-viewport class="example-viewport row"  itemSize="10">
  <div *cdkVirtualFor="let n of scrollItems"  class="col-md-2 mt-2 example-item">
  </div>
</cdk-virtual-scroll-viewport> -->

<div class="col-md-3 mt-2" *ngFor="let item of pokemon; let i=index">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Title {{ item.formattedName() }}</h4>
    </div>
    <div class="card-body">      
      <img src="{{ item.image() }}">
    </div>
    <!-- <div class="card-footer text-muted">
      Footer
    </div> -->
  </div>
</div>
</div>

