<!-- <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Pokemon Listings</strong> 
</div> -->

<!-- <script>
  $(".alert").alert();
</script> -->

<!-- <h4 *ngIf="!pokemon">Loading...</h4> -->
<div class="row" *ngIf="pokemon"> 
<div class="col-sm-3 mt-2" *ngFor="let item of pokemon; let i=index">
  <div class="card">
    <div class="card-header bg-secondary text-white">
      <h4 class="card-title"> {{ item.formattedName() }}</h4>
    </div>
    <div class="card-body">      
      <img height="80%" width="60%" src="{{ item.image() }}">
    </div>
    <!-- <div class="card-footer text-muted">
      Footer
    </div> -->
  </div>
</div>
</div>

